/.idea/
/vendor/
/config.php
/storage/*/*
!/storage/*/.gitkeep
/public/*/*
!/public/*/.gitkeep
/public/feed.xml
/.phpcs-cache
/phpcs.xml
tests/e2e/cypress/downloads/*
!tests/e2e/cypress/downloads/.gitkeep
/.cache/composer/*
!/.cache/composer/.gitkeep
